DIV.base-layer {
  background: none;  color: #000000;
  padding: 0; width: auto;
}

DIV.table-row {
  background: none;  color: #000000;
  padding: 0; border: none
}

DIV.left-layer15 {
 border:none; float:left; margin: 0; padding: 0; width: 15px;
}

DIV.left-layer40 {
  border: none; float:left; margin: 0; padding: 0; width: 40px;
}

DIV.left-layer65 {
  border: none; float: left; margin: 0; padding: 0; width: 65px;
}

DIV.left-layer80 {
  border: none; float: left; margin: 0; padding: 0; width: 80px;
}

DIV.left-layer90 {
  border: none; float: left; margin: 0; padding: 0; width: 90px;
}

DIV.left-layer100 {
  border: none; float: left; margin: 0; padding: 0; width: 100px;
}

DIV.left-layer130 {
  border: none; float: left; margin: 0; padding: 0; width: 130px;
}

DIV.left-layer140 {
  border: none; float: left; margin: 0; padding: 0; width: 140px;
}

DIV.left-layer200 {
  border: none; float: left; margin: 0; padding: 0; width: 200px;
}

DIV.left-layer300 {
  border: none; float: left; margin: 0; padding: 0; width: 300px;
}


/* Watch out for this DIV... rule, it appears every now and then */

DIV.space-line {
  clear: left; margin: 0; padding: 0; width: auto; height:5px
}

/* Some rules for captions, headers and running text */

H4.table-caption {
  background: transparent; color: #3333cc; font-family: sans-serif;
  font-size: 1em; font-weight: bold; margin: 0;
  padding: 0.3em; width: auto;
}

H5.colhdr {
  background: none;
  font-family: sans-serif; font-size: 1em; 
  font-weight: normal; margin: 0; padding: 0.3em 0.3em 0 0.3em;
  width: auto;
}

P.text {
  margin: 0; padding: 0;
  font-style: normal; font-size: 1em; text-indent: 0;
  width: auto;
}

/* End of layer specific style rule set */
