<div class="card">
    <div class="card-header bg-grey">
      Ring tilbake
    </div>
    <div class="card-body">
            <table class="main_table" style="cell-spacing:0px;width:100%">
                <tr>
                <th>Selskap</th>
                <th>Ring tilbake</th>
                <th>Slett</th>
                </tr>
            <tr>
                <td valign="top" width="180">
                
                Calls kommer her

                </td>
            </tr>
        </table>
      
    </div>
  </div>