<div class="card">
    <div class="card-header bg-grey">
      Salg
    </div>
    <div class="card-body">
        <table class="main_table" style="border:0px;">
            <tr>
                <td valign="top" width="180">
                 
                    Sales kommer her
                 </td>
            </tr>
        </table>
      
    </div>
  </div>