<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="height: 60px;">
    <div class="container-fluid">
     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
        <a href="/" style="text-decoration: none;">
           <i class="fa fa-bank" style="font-size: 28px;color:silver"></i> <img src="/images/logo_light_blue_200.png" style="margin-left: 4px;margin-right:10px;vertical-align:text-bottom ;">
       </a>
      
      <div class="collapse navbar-collapse align-items-center"  id="navbarSupportedContent">
        <ul class="nav nav-pills navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
            <li class="nav-item">
            <a href="/" class="nav-link">
              <i class="fa fa-home fa-fw" style="font-size: 18px"></i> Hjem</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-tags fa-fw" style="font-size: 18px"></i>  Prosjekter
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item " href="/admin/projects"><i class="fa fa-tags fa-fw" style="font-size: 18px"></i>Velg Prosjekt</a></li>
              <li><a class="dropdown-item " href="/admin/newproject"><i class="fa fa-tag fa-fw" style="font-size: 18px"></i>Nytt Prosjekt</a></li>

            </ul>
          </li>
          <li class="nav-item">
            <a href="sales" class="nav-link ">
              <i class="fa fa-credit-card fa-fw" style="font-size: 18px"></i> Salg</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link ">
              <i class="fa fa-book fa-fw" style="font-size: 18px"></i> Ordre
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fa fa-barcode fa-fw" style="font-size: 18px"></i> Produkter
            </a>
          </li>
      
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-user fa-fw" style="font-size: 18px"></i>  Kunder
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item "  href="enheter"><i class="fa fa-search fa-fw" style="font-size: 18px"></i> Søk i enhetsregisteret</a></li>
            </ul>
          </li>
      
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fa fa-list-alt fa-fw" style="font-size: 18px"></i> Ringelister
            </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-cogs fa-fw" style="font-size: 18px"></i>  Admin
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item "  href="/admin/projects"><i class="fa fa-tags fa-fw" style="font-size: 18px"></i> Prosjektoversikt</a></li>
            
             <li><a class="dropdown-item "  href="/users"><i class="fa fa-users fa-fw" style="font-size: 18px"></i> Brukeroversikt</a></li>
              <li><a class="dropdown-item "  href="/newuser"><i class="fa fa-user fa-fw" style="font-size: 18px"></i> Ny bruker</a></li>
            </ul>
          </li>
          </ul>
               <div class="dropdown" style="padding-right:80px">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>User</strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#"><i class="fa fa-cog fa-fw" style="font-size: 18px"></i> Instillinger</a></li>
            <li><a class="dropdown-item" href="#"><i class="fa fa-user fa-fw" style="font-size: 18px"></i> Profil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="login">Sign in</a></li>
            <li><a class="dropdown-item" href="login">Sign out</a></li>
          </ul>
        
      </div>
    </div>
    </div>
</nav>
