
<div class="d-flex flex-column flex-shrink-0 p-3 text-dark bg-light" style="width: 160px;margin-top: 60px;">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/" class="nav-link active" aria-current="page">
          <i class="fa fa-home fa-fw" style="font-size: 18px"></i> Hjem</a>
      </li>
      <li>
        <a href="sales" class="nav-link ">
          <i class="fa fa-credit-card fa-fw" style="font-size: 18px"></i> Salg</a>
      </li>
      <li>
        <a href="#" class="nav-link ">
          <i class="fa fa-book fa-fw" style="font-size: 18px"></i> Ordre</a>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link ">
          <i class="fa fa-barcode fa-fw" style="font-size: 18px"></i> Produkter</a>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link ">
          <i class="fa fa-user fa-fw" style="font-size: 18px"></i> Kunder</a>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link ">
          <i class="fa fa-list-alt fa-fw" style="font-size: 18px"></i> Ringelister</a>
        </a>
      </li>
    </ul>
    <hr>
</div>

